* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*Inizio layout*/
.container{
    width: 70%;
    margin: 15px auto;
}

main{
    margin-left: 9%;
}

.container img,
.item{
    width: 250px;
    position: relative;
    display: inline-block;
}

.item .discount{
    position: absolute;
    bottom: 70px;
    left: 0px;
    width: 40px;
    height: 20px;
    line-height: 20px;
    color: white;
    background-color: red;
    text-align: center;
}

.item .sostenibilita{
    position: absolute;
    bottom: 70px;
    left: 45px;
    width: 80px;
    height: 20px;
    line-height: 20px;
    color: white;
    background-color: green;
    text-align: center;
}

.item .sost{
    position: absolute;
    bottom: 70px;
    left: 0px;
    width: 80px;
    height: 20px;
    line-height: 20px;
    color: white;
    background-color: green;
    text-align: center; 
}


.price{
    color: red;
}

/*Inizio debug*/
.debug .container{
    border: 2px dashed red;
}

.debug main{
}